.cta
  background-color: $secondary
  color: $text-inverse
  background-image: url(../img/whiti.jpg)
  background-size: cover
  background-position: center
  padding: 5em 0
  background-blend-mode: multiply

  position: relative
  overflow: hidden

/* --- just rubbish - delete later ---
  @media(min-width: 725px)
    padding: 10em 0

    &::before, &::after
    content: ''
    display: block
    background: $accent
    position: absolute
    width: 100%
    border: 1em solid $white

    &::before
      top: 0
      bottom: 0
      transform: skewX(50deg)
      left: -100%

    &::after
      top: 0
      bottom: 0
      transform: skewX(50deg)
      right: -100%
    */
