.promo
  .bg-primary
    text-align: Center
    padding-left: 7%
    padding-top: 7.5em
    padding-bottom: 7.5em

    @media(min-width: 725px)
      text-align: left

  .img-box
    background: url(../img/Millen_Masonry.jpg)
    background-size: cover
    background-position: center
    border-bottom: 12px solid $dark
